@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
$font: 'Open Sans Condensed', sans-serif;
$background: #1f801f;
$shadow: #7c7c7c;
$username: 30px;

* {
    margin: 0;
}

@mixin shadow {
    box-shadow: 2px 2px 2px 2px $shadow;
}

.parent-one {
    display: flex;
    width: 100vw;
    height: 100px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px;
    border: 2px solid black;
    @include shadow
}

.body {
    display: flex;
    height: 80vh;
    width: 100vw;
}

.info {
    display: flex;
    width: 100%;
    border: 2px solid black;
    margin: 10px;
    @include shadow
}

.username {
    font-size: $username;
    margin-left: 20px;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    font-family: $font;
}

.placement {
    width: 50%;
    height: 100%;
    font-family: $font;
}

.buttons {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 30%;
    height: 100%;
    margin-right: 10px;
    font-family: $font;
}

.logout {
    margin-left: 250px;
    font-family: $font;
}

.edit {
    font-family: $font;
}

.image {
    margin-top: 120px;
    margin-left: 20px;
    width: 500px;
    height: 500px;
}

.inside-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: $font;
}

.stats {
    font-size: 70px;
    margin: 20px;
    font-family: $font;
}

.record {
    margin-top: 10px;
    font-size: 50px;
    text-align: center;
    font-family: $font;
}

.about {
    margin-top: 80px;
    font-size: 50px;
    font-family: $font;
}

.text {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    font-family: $font;
}

.display {
    display: none;
}

.show {
    display: flex;
}

.noShow {
    display: none;
}

.round {
    margin-left: 125px;
}

.textarea {
    font-family: $font;
    height: 100%;
    width: 75%;
}

@media(max-width: 900px) {
    .text {
        overflow: auto;
    }
    
    .image {
        height: 250px;
        width: 250px;
        margin-top: 225px;
    }
    
    .buttons {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 30%;
        height: 100%;
        margin-right: 10px;
    }
}

@media(max-width: 650){
    .round{
        margin:0;
    }
}