$greyedOut: #d3d3d3;
$terracotta: #945D60;
$herb: #626E60;
$chili: #AF473C;
$charcoal: #3C3C3C;

.activeTurnText {
  font-weight: bold;
  width: 200px;
  // background-color: lime;
  display: flex;
  justify-content: center;
}

.inactiveTurnText {
  font-weight: bold;
  color: $greyedOut;
  width: 200px;
  // background-color: lime;
  display: flex;
  justify-content: center;
} 

.checkerboardFrame {
  width: 100vw;
  // background-color: aliceblue;
  display: flex;
  font-family: Arial, Helvetica, sans-serif ;
}

.gameAndLeftBox {
  width: 70%;
  // background-color: lime;
  display: flex;
  flex-direction: row;
  // justify-content: space-around;
  height: 100vh;
  // box-sizing: border-box;
}

.leftBox {
  width: 100px;
  height: 100vh;
  background-color: $greyedOut;
  position: absolute;
  // left: 200px;
  // z-index: 12;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  align-items: flex-start;
}

.spacing {
  position: relative;
  // right: 75px;
  top: 75px;
  left: 400px;
  // background-color: aqua;
  border: solid 1px black;
  width: 803px;
  height: 804px;
}

.bottomLine {
  border: solid 1px black;
  width: 802px;
  height: 1px;
  position: relative;
  top: 1px;
  right: 1px;
}

.sideFrame {
  width: 30%;
  height: 100vh;
  // background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border-left: 1px black solid
}

.turnStateBox {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // background-color: lime;
}

.turnStateDisplay {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 48px;
  // background-color: lime;
  font-size: 2em;
}

.moveBox {
  width: 90%;
  border: black 1px solid;
  height: 80%;
}

#mover {
  height: 1px;
}

.indTurnText {
  width: 80%;
  height: 35px;
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 10px;
}

.everythingButScore {
  position: relative;
  top: 10px;
  width: 100%;
  height: 85%;
  overflow: auto;
  display: flex;
  justify-content: center;
}

#moves-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  // background-color: aliceblue;
  align-items: center;
}

.scoreBox {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5em;
}

// .concedeButton {
  
// }

.chatBox {
  width: 90%;
  height: 47%;
  border: 1px solid black;
}

@keyframes expand {
  0% {
    width: 100px;
  }

  100% {
    width: 200px;
  }
}

@keyframes shrink {
  0% {
    width: 200px;
  }

  100% {
    width: 100px;
  }
}

.hidden {
  animation-name: expand;
  animation-duration: .5s;
  // animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.shown {
  animation-name: shrink;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.menuLines {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5em;
  height: 30px;
  background-color: transparent;
  border: none;
  position: relative;
  top: 20px;
  left: 38px;
}

.menuLine {
  height: 3px;
  position: relative;
  bottom: 20px;
  font-size: 1.5em;
}

.homeLink {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  width: 200px;
  // background-color: turquoise;
  top: 100px;
  // left: 100px;
}

.homeIcon {
  width: 50px;
  height: 50px;
  position: relative;
  left: 25px;
  // background-color: turquoise;
}

.homeText {
  position: relative;
  top: 5px;
  font-size: 1.5em;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // background-color: turquoise;
  text-decoration: none;
}

.profileText {
  position: relative;
  // bottom: 0px;
  font-size: 1.5em;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // background-color: turquoise;
  text-decoration: none;
}

.linkSpacing {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  width: 200px;
  // background-color: turquoise;
  // top: 50px;
  // left: 100px;
  text-decoration: none;
  color: black;
}

.profileLink {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  width: 200px;
  // background-color: turquoise;
  top: 200px;
  // left: 100px;
  text-decoration: none;
  color: black;
}

.profileIcon {
  width: 50px;
  height: 50px;
  position: relative;
  left: 25px;
  // background-color: turquoise; 
}

.middleButtonContainer {
  width: 90%;
  height: 50px;
  // background-color: turquoise;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.concedeButton {
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 1px;
}

.leaveButton {
  width: 200px;
  height: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px black solid;
  border-radius: 1px;
  color: black;
  font-size: .8em;
}

.concedeButton:hover {
  background-color: $greyedOut;
}

.leaveButton:hover {
  background-color: $greyedOut;
} 

.row {
  width: 800px;
  height: 100px;
  display: flex;
  border: 1px solid #3e6990;
}

.checker-boxes {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #AFD5AA;
}

.checker-boxes-group-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F2EF;
}

.black-piece {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #353531;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.red-piece {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #D00000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

// .spacing {
//   margin-left: 500px;
// }

.chatInput {
  display: none;
}

.actualInputField {
  display: none;
}

@media (max-width: 1750px) {

  .spacing {
    width: 700px;
    height: 700px; 
    // display: none;
    
  }

  .row {
    width: 100%;
    height: 12.5%;
    // background-color: purple;
  }

  .checker-boxes {
    width: 87.5px;
    height: 87.5px;
  }

  .red-piece {
    width: 50%;
    height: 50%;
  }

  .checker-boxes-group-2  {
    width: 87.5px;
    height: 87.5px;
  }

  .black-piece {
    width: 50%;
    height: 50%;
  }

  .bottomLine {
    width: 700px;
  }
}

@media (max-width: 1500px) {
 .spacing {
   left: 250px;
 }

.turnStateDisplay {
  font-size: 1.3em;
  }
}

@media (max-width: 1250px) {
  .spacing {
    width: 400px;
    height: 400px;
  }

  .row {
    width: 100%;
    height: 12.5%;
    // background-color: purple;
  }
  
  .red-piece {
    width: 50%;
    height: 50%;
    font-size: .7em;
  }
  
  .black-piece {
    width: 50%;
    height: 50%;
    font-size: .7em;
  }
  
  .checker-boxes {
    width: 50px;
    height: 50px;
  }

  .checker-boxes-group-2  {
    width: 50px;
    height: 50px;
  }

  .bottomLine {
    width: 400px;
  }

  .scoreDisplay {
    font-size: .7em;
  }

  .concedeButton {
    width: 100px;
  }

  .leaveButton {
    width: 100px;
  }

  .homeIcon {
    width: 50px;
    height: 50px;
  }

  .profileIcon {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 800px) {
  .checkerboardFrame {
    display: flex;
    flex-direction: column;
  }

  .leftBox {
    width: 375px;
    height: 100px;
    display: flex;
    flex-direction: row;
  }

  .menuLines {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 30px;
  }

  .homeLink {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    // flex-wrap: wrap;
    position: relative;
    width: 100px;
    height: 150px;
    // background-color: turquoise;
    top: 18px;
    left: 60px;
    // bottom: 200px;
    // top: 100px;
    // left: 100px;
  }

  .linkSpacing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;
    width: 100px;
    height: 100px;
    // background-color: aliceblue;
  }
  
  .homeIcon {
    width: 50px;
    height: 50px;
    position: relative;
    left: 25px;
    
    // background-color: turquoise;
  }
  
  .homeText {
    position: relative;
    // top: 5px;
    font-size: 1.5em;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // background-color: turquoise;
    text-decoration: none;
    left: 18px;
  }

  .profileLink {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    // flex-wrap: wrap;
    position: relative;
    width: 100px;
    height: 95px;
    // background-color: turquoise;
    top: 24px;
    left: 60px;
    // bottom: 200px;
    // top: 100px;
    // left: 100px;
  }

  .profileIcon {
    width: 45px;
    height: 45px;
  }

  .profileText {
    position: relative;
    // top: 5px;
    font-size: 1.5em;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // background-color: turquoise;
    text-decoration: none;
    left: 15px;
    // bottom: 20px;
  }

  @keyframes expand {
    0% {
      height: 100px;
    }
  
    100% {
      height: 140px;
    }
  }
  
  @keyframes shrink {
    0% {
      height: 140px;
    }
  
    100% {
      height: 100px;
    }
  }

  .gameAndLeftBox {
    // background-color: aliceblue;
    width: 100vw;
    height: 550px;
    display: flex;
    align-items: center;
  }
  
  .spacing {
    // display: none;
    position: relative;
    top: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 375px;
    height: 375px;
  }

  .row {
    width: 100%;
    height: 12.5%;
    // background-color: purple;
  }
  
  .red-piece {
    width: 50%;
    height: 50%;
    font-size: .7em;
  }
  
  .black-piece {
    width: 50%;
    height: 50%;
    font-size: .7em;
  }
  
  .checker-boxes {
    width: 46.875px;
    height: 46.875px;
  }

  .checker-boxes-group-2  {
    width: 46.875px;
    height: 46.875px;
  }

  .bottomLine {
    width: 375px;
  }

  .sideFrame {
    // background-color: aliceblue;
    width: 100vw;
    height: 450px;
  }

  .turnStateBox {
    height: 300px;
  }

  .chatInput {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    // border: 1px solid black;
    height: 50px;
  }

  .actualInputField {
    display: flex;
    width: 90%;
    height: 35px;
    border: solid 1px black;
  }
}

.logoutButton {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  width: 200px;
  // background-color: turquoise;
  top: 730px;
  // left: 100px;
  text-decoration: none;
  color: black;
}

.logoutIcon {
  width: 50px;
  height: 50px;
  position: relative;
  left: 25px;
}

// .disable-css-transitions {
//   animation-play-state: paused;
// }