$greyedOut: #d3d3d3;

.activeTurnText {
  font-weight: bold;
  width: 200px;
  // background-color: lime;
  display: flex;
  justify-content: center;
}

.inactiveTurnText {
  font-weight: bold;
  color: $greyedOut;
  width: 200px;
  // background-color: lime;
  display: flex;
  justify-content: center;
} 

.checkerboardFrame {
  width: 100vw;
  // background-color: aliceblue;
  display: flex;
}

.gameAndLeftBox {
  width: 70%;
  // background-color: lime;
  display: flex;
  flex-direction: row;
  // justify-content: space-around;
  height: 100vh;
  // box-sizing: border-box;
}

.leftBox {
  width: 100px;
  height: 100vh;
  background-color: $greyedOut;
  position: absolute;
  // left: 200px;
  // z-index: 12;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  align-items: flex-start;
}

.spacing {
  position: relative;
  right: 75px;
  top: 75px;
  // background-color: aqua;
  border: solid 1px black;
  width: 803px;
  height: 804px;
}

.bottomLine {
  border: solid 1px black;
  width: 802px;
  height: 1px;
  position: relative;
  top: 1px;
  right: 1px;
}

.sideFrame {
  width: 30%;
  height: 100vh;
  // background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border-left: 1px black solid
}

.turnStateBox {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // background-color: lime;
}

.turnStateDisplay {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 48px;
  // background-color: lime;
  font-size: 2em;
}

.moveBox {
  width: 90%;
  border: black 1px solid;
  height: 80%;
}

.everythingButScore {
  width: 100%;
  height: 85%;
  // background-color: $greyedOut;
}

.scoreBox {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5em;
}

// .concedeButton {
  
// }

.chatBox {
  width: 90%;
  height: 47%;
  border: 1px solid black;
}

@keyframes expand {
  0% {
    width: 100px;
  }

  100% {
    width: 200px;
  }
}

@keyframes shrink {
  0% {
    width: 200px;
  }

  100% {
    width: 100px;
  }
}

.hidden {
  animation-name: expand;
  animation-duration: .5s;
  // animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.shown {
  animation-name: shrink;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.menuLines {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5em;
  height: 30px;
  background-color: transparent;
  border: none;
  position: relative;
  top: 20px;
  left: 35px;
}

.menuLine {
  height: 3px;
  position: relative;
  bottom: 20px;
  font-size: 1.5em;
}

.homeLink {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  width: 200px;
  // background-color: turquoise;
  top: 100px;
  // left: 100px;
}

.homeIcon {
  width: 50px;
  height: 50px;
  position: relative;
  left: 23px;
}

.homeText {
  position: relative;
  top: 5px;
  font-size: 1.5em;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // background-color: turquoise;
  text-decoration: none;
}

.linkSpacing {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  width: 200px;
  // background-color: turquoise;
  // top: 50px;
  // left: 100px;
  text-decoration: none;
  color: black;
}

