.frontPage {
  display: flex;
  flex-direction: column;  
}

.frontPage_loginRegister {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.frontPageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 730px;
}